<header>
  <div class="container" style="margin-top: -25px">
    <h1 style="line-height: 1em">
      <a href="/">Programming Projects for Advanced Beginners</a>: The Book
    </h1>
    <p class="tagline" style="margin-top: -22px; margin-bottom: 10px">
      By <a href="https://robertheaton.com">Robert Heaton</a>
    </p>
    <!-- <p class="tagline" style="margin-top: -10px"> -->
    <p>
      A practical book to help you through the valley of despair
    </p>

    <nav role="navigation" style="margin-top: -5px">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/book">Read</a></li>
        <li><a href="/feedback">Send me feedback</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
      </ul>
    </nav>
  </div>
</header>
